@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bg-gradient-main {
  background: linear-gradient(to top, #252345, #2a2a3b);
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,212,255,0) 100%);
}

.radial-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(51, 58, 72, 0.8) 0%, rgba(250, 214, 92, 0) 60%);
}

.cursor-pointer {
  position: absolute;
  bottom: 65%;
}

.phone-container {
  background-color: rgb(176, 223, 228);
  position: absolute;
  top: 2.5%;
  height: 380px;
  width: 200px;
  z-index: 10;
  left: 4%;
  border-radius: 9px;
}

.phone {
  background-color: rgb(47, 47, 47);
  position: absolute;
  height: 400px;
  width: 220px;
  top: 25%;
  border-radius: 9px;
}

.shopy-logo {
  margin-top: 50px;
}

.dukan {
  width: 250px;
  height: 50%;
  z-index: 9;
}

.from-\[\#f3c45a\] {
  --tw-gradient-from: #ff6d00 var(--tw-gradient-from-position) !important;
}

.to-\[\#fffad0\] {
  --tw-gradient-to: #ffc267 var(--tw-gradient-to-position) !important;
  position: absolute;
  bottom: 95%;
}

.one-plus {
  color: rgb(255, 213, 0);
}

.h-4 {
  height: 0.7rem;
}
